In [1]:
import pandas as pd

In [2]:
# 1. 获取数据
order_products =  pd.read_csv('./instacart/order_products_prior.csv')
products =  pd.read_csv('./instacart/products.csv')
orders = pd.read_csv('./instacart/orders.csv')
aisles = pd.read_csv('./instacart/aisles.csv')

数据如下：

order_products__prior.csv：订单与商品信息
字段：order_id, product_id, add_to_cart_order, reordered

products.csv：商品信息
字段：product_id, product_name, aisle_id, department_id

orders.csv：用户的订单信息
字段：order_id,user_id,eval_set,order_number,….

aisles.csv：商品所属具体物品类别
字段： aisle_id, aisle

In [3]:
# 2. 合并表
tmp_table = pd.merge(left=aisles, right=products, how='inner', on=['aisle_id', 'aisle_id'])  # aisles.csv & products.csv

In [4]:
tmp_table = pd.merge(left=tmp_table, right=order_products, how='inner', on=['product_id', 'product_id'])  # products.csv & order_products_prior.csv

In [5]:
tmp_table = pd.merge(left=tmp_table, right=orders, how='inner', on=['order_id', 'order_id'])  # order_products__prior.csv & orders.csv

In [6]:
tmp_table

,aisle_id,aisle,product_id,product_name,department_id,order_id,add_to_cart_order,reordered,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,1,prepared soups salads,209,Italian Pasta Salad,20,94246,5,0,114082,prior,26,0,20,1.0
1,1,prepared soups salads,22853,Pesto Pasta Salad,20,94246,4,0,114082,prior,26,0,20,1.0
2,4,instant foods,12087,Chicken Flavor Ramen Noodle Soup,9,94246,15,0,114082,prior,26,0,20,1.0
3,4,instant foods,47570,Original Flavor Macaroni & Cheese Dinner,9,94246,14,1,114082,prior,26,0,20,1.0
4,13,prepared meals,10089,Dolmas,20,94246,25,0,114082,prior,26,0,20,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32434484,134,specialty wines champagnes,47713,Sparkling Rose,5,3014872,1,0,63218,prior,1,1,14,NaN
32434485,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,34570,1,1,37901,prior,13,3,9,13.0
32434486,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,250923,1,1,26431,prior,27,5,11,10.0
32434487,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,1319402,1,1,26431,prior,34,2,14,7.0
32434488,134,specialty wines champagnes,49562,Blanc De Noirs Sparkling Wine,5,2298986,1,0,37901,prior,9,2,11,13.0

找到 user_id 和 aisle 之间的关系

In [15]:
#【重点 | 薄弱点】找到 user_id 和 aisle 之间的关系，也就是通过交叉表找到同一个表中两列的关系
#【重点 | 回顾】这里交叉表其实是将 tmp_table 表的 `user_id` 列作为 index
data = pd.crosstab(tmp_table['user_id'], tmp_table['aisle'])

In [23]:
data

aisle,air fresheners candles,asian foods,baby accessories,baby bath body care,baby food formula,bakery desserts,baking ingredients,baking supplies decor,beauty,beers coolers,...,spreads,tea,tofu meat alternatives,tortillas flat bread,trail mix snack mix,trash bags liners,vitamins supplements,water seltzer sparkling water,white wines,yogurt
user_id,,,,,,,,,,,,,,,,,,,,,
1,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
2,0,3,0,0,0,0,2,0,0,0,...,3,1,1,0,0,0,0,2,0,42
3,0,0,0,0,0,0,0,0,0,0,...,4,1,0,0,0,0,0,2,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,0,0
5,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
206205,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5
206206,0,4,0,0,0,0,4,1,0,0,...,1,0,0,0,0,1,0,1,0,0
206207,0,0,0,0,1,0,0,0,0,0,...,3,4,0,2,1,0,0,11,0,15
206208,0,3,0,0,3,0,4,0,0,0,...,5,0,0,7,0,0,0,0,0,33
206209,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,3

In [24]:
data.index

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            206200, 206201, 206202, 206203, 206204, 206205, 206206, 206207,
            206208, 206209],
           dtype='int64', name='user_id', length=206209)

In [18]:
# 4. PCA 降维
from sklearn.decomposition import PCA

In [21]:
# 实例化转换器
transfer = PCA(n_components=0.95)

# 调用 fit_tranform
data_new = transfer.fit_transform(data)

In [22]:
data_new

array([[-24.21565874,   2.4294272 ,  -2.46636975, ...,  -0.08877715,
         -0.38087761,   0.21568831],
       [  6.46320808,  36.75111646,   8.38255336, ...,   1.912145  ,
          1.79468946,  -0.70142249],
       [ -7.99030162,   2.40438257, -11.03006405, ...,  -0.72188348,
         -1.15719089,  -0.23704277],
       ...,
       [  8.61143331,   7.70129866,   7.95240226, ...,   0.23971061,
         -0.78590175,  -2.65945606],
       [ 84.08621987,  20.41873398,   8.05410372, ...,  -1.66893212,
          0.5042934 ,   3.82546312],
       [-13.95345619,   6.64621821,  -5.23030367, ...,  -1.64144758,
         -3.39233648,  -0.31410713]])